# Compiled Sources #
####################
*.o

# Linked Program #
##################
aw

# Build Files #
###############
build/*
cmake-build-debug

# Bin Folder #
##############
bin

# Input Files #
# ###############
#*.in

# Workspace Files #
# #################
.vscode
.idea
-w

# Ctags Files #
# #############
GPATH
GRTAGS
GTAGS
cscope.out